.s-data{
    margin-top: 20px;
    width: 90%;
    margin: auto;
}

.s-table{
    padding: 10px;
}
.s-table > thead > tr > td{
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}   

.s-table-tr >td{
    margin: 10px;
    background: gray;
}

.s-table-tb-tr > tr > td{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.s-table-tb-tr > tr:nth-child(odd){
    background-color: rgba(68, 62, 62, 0.87);
}
.s-table-tb-tr > tr:nth-child(even){
    background-color: rgba(56, 51, 51, 0.637);
}

.ref{
    padding: 10px;
    margin-top: 2%;
    background: rgb(51, 224, 51);
    border: 2px solid green;
    margin-bottom: 20px;
    margin-left: 10%;
    font-size: 15px;
    border-radius: 3px;
    transition: background 1s ease-in-out;
}
.ref:hover{
    background: rgb(217, 235, 217);
}

.total{
    position: absolute;
    top: 12%;
    left: 80%;
}